[submodule "ScreepsAutocomplete"]
	path = ScreepsAutocomplete
	url = https://github.com/Garethp/ScreepsAutocomplete
[submodule "stampit"]
	path = stampit
	url = https://github.com/stampit-org/stampit
